{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Create Job Posting | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/register.css' %}">
{% endblock customCSS %}
{% block content %}
<br>
<br>
<div class="wrapper" style="margin-left: 25%; margin-top: 10px; margin-bottom: 50px;">
    <div class="title-text">
        <div class="title company">Job Posting</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form method="post" class="user" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Title" name='title' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Position" name='position' required>
                </div>
                <div class="field">
                    <input type="file" placeholder="Job Description" name='job_description' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Number of seats" name='no_of_seats' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Stipend" name='stipend' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Location" name='location' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Experience Required" name='experience_required' required>
                </div>
                <div class="field">
                    Status: 
                    <select name="status" id="">
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>
                <!--                Requirement tags and Domain tags-->
                <!--                Status Tags-->
                <div class="field">
                    <label>Domain Tags </label>
                    {{ jobPostingForm.domain_tags }}
                </div>
                <br>
                <br>
                <div class="field">
                    <label>Requirement Tags </label>
                    {{ jobPostingForm.requirement_tags }}
                </div>
                <br>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Update">
                </div>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock content %}