{% extends 'partials/base.html' %}
{% block title %}Create Job Posting | Get_Set_Hired{% endblock title %}
{% block content %}
<br>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Title </label>
        {{ jobPostingForm.title }}
    </div>
    <div class="form-group">
        <label>Job Description </label>
        {{ jobPostingForm.job_description }}
    </div>
    <div class="form-group">
        <label>Position </label>
        {{ jobPostingForm.position }}
    </div>
    <div class="form-group">
        <label>No of seats </label>
        {{ jobPostingForm.no_of_seats }}
    </div>
    <div class="form-group">
        <label>Stipend </label>
        {{ jobPostingForm.stipend }}
    </div>
    <div class="form-group">
        <label>Location </label>
        {{ jobPostingForm.location }}
    </div>
    <div class="form-group">
        <label>Domain Tags </label>
        {{ jobPostingForm.domain_tags }}
    </div>
    <div class="form-group">
        <label>Requirement Tags </label>
        {{ jobPostingForm.requirement_tags }}
    </div>
    <div class="form-group">
        <label>Status </label>
        {{ jobPostingForm.status }}
    </div>
    <div class="form-group">
        <label>Experience_required </label>
        {{ jobPostingForm.experience_required }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock content %}