{% extends 'partials/base.html' %}
{% block title %}Index | Get_Set_Hired{% endblock title %}
{% block content %}
<br>
<br>
<div class="content">
    <div class="row row-cols-1 row-cols-md-2">
        {% for jobPosting in jobPostings %}
        <div class="col mb-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{% url 'jobPosting' jobPosting.id%}"><h5 class="card-title">{{jobPosting.title}}</h5></a>
                    <p class="card-text">
                        {% for users in jobPosting.users_accepted.all %}
                            {{users}}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}