{% extends 'partials/base.html' %}
{% block title %}Index | Get_Set_Hired{% endblock title %}
{% load static %}
{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'home/mainpp.css' %}">
{% endblock customCSS %}
{% block cdnCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/cards.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
{% endblock cdnCSS %}
{% block content %}
{% if user.companyprofile.isCompany %}
<div class="project_cards">
    <h1 style="color:#19258c; font-size: 35px; margin-left:42%;"><u>OPEN JOBS</u></h1>
    <div class="" style="display: flex; flex-wrap: wrap;justify-content:center;" id="all-projects">
        {% for jobposting in jobPostings_open %}
        <div id="projectNumber{{ jobposting.id }}">
            <div class="blog-container">
                <div class="blog-header" style="display: flex; flex-wrap: wrap;">
                    <span style="flex: 1 0 45%; ">
                        <h3 style="margin-top: 10px; color:#858796;"><a href="{% url 'profile' jobposting.company.id %}">{{jobposting.company}}</a></h3>
                    </span>
                </div>
                <div class="blog-body">
                    <div class="blog-title demo-a">
                        <h1><a href="/jobPosting/{{jobposting.id}}">{{ jobposting.title }}</a></h1>
                    </div>
                    <div class="blog-summary demo-2">
                        <a href='/media/{{jobposting.job_description}}'>Job Description</a>
                    </div>
                    <div class="blog-tags">
                        <br class="main-br">
                        <ul>
                            <li><a href="/home/?Status={{jobposting.Status}}">{{jobposting.status}}</a></li>
                            {% for tag in jobposting.domain_tags.all %}
                            {% if forloop.counter <= 2 %}
                            <li>
                                <a href="/home/?Tags={{tag.id}}">{{ tag }}</a>
                            </li>
                            {% endif %}
                            {% if forloop.counter == 3 %}
                            <li>
                                <a href="/project/?project_id={{jobposting.id}}">More Tags...</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr class="main-page-hr">
            </div>
        </div>
        {% endfor %}
        {% if jobPostings_open.count == 0 %}
        <div>No Open job postings</div>
        {% endif %}
    </div>
    <h1 style="color:#19258c; font-size: 35px; margin-left:42%;"><u>CLOSED JOBS</u></h1>
    <div class="" style="display: flex; flex-wrap: wrap;justify-content:center;" id="all-projects">
        {% for jobposting in jobPostings_closed %}
        <div id="projectNumber{{ jobposting.id }}">
            <div class="blog-container">
                <div class="blog-header" style="display: flex; flex-wrap: wrap;">
                    <span style="flex: 1 0 45%; ">
                        <h3 style="margin-top: 10px; color:#858796;"><a href="{% url 'profile' jobposting.company.id %}">{{jobposting.company}}</a></h3>
                    </span>
                </div>
                <div class="blog-body">
                    <div class="blog-title demo-a">
                        <h1><a href="/jobPosting/{{jobposting.id}}">{{ jobposting.title }}</a></h1>
                    </div>
                    <div class="blog-summary demo-2">
                        <a href='/media/{{jobposting.job_description}}'>Job Description</a>
                    </div>
                    <div class="blog-tags">
                        <br class="main-br">
                        <ul>
                            <li><a href="/home/?Status={{jobposting.Status}}">{{jobposting.status}}</a></li>
                            {% for tag in jobposting.domain_tags.all %}
                            {% if forloop.counter <= 2 %}
                            <li>
                                <a href="/home/?Tags={{tag.id}}">{{ tag }}</a>
                            </li>
                            {% endif %}
                            {% if forloop.counter == 3 %}
                            <li>
                                <a href="/project/?project_id={{jobposting.id}}">More Tags...</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr class="main-page-hr">
            </div>
        </div>
        {% endfor %}
        {% if jobPostings_closed.count == 0 %}
        <div>No Closed job postings</div>
        {% endif %}
    </div>
    {% endif %}
    <div class="" style="display: flex; flex-wrap: wrap;justify-content:center;" id="all-projects">
        {% for notification in notifications %}
        <div id="projectNumber{{ notification.id }}">
            <div class="blog-container">
                {% if notification.jobposting %}
                <div class="blog-header" style="display: flex; flex-wrap: wrap;">
                    <span style="flex: 1 0 45%; ">
                        <h3 style="margin-top: 10px; color:#858796;"><a href="{% url 'profile' notification.jobposting.company.id %}">{{notification.jobposting.company}}</a></h3>
                    </span>
                </div>
                {% endif %}
                <div class="blog-body">
                    <div class="blog-title demo-a">
                        <h1><a href = "">{{ notification.message }}</a></h1>
                    </div>
                    {% if notification.message != "Reviewed" %}
                    <div class="blog-summary demo-2">
                        <a href='/media/{{notification.jobposting.job_description}}'>Job Description</a>
                    </div>
                    <div class="blog-tags">
                        <br class="main-br">
                        <ul>
                            <li>
                                <a href="/acceptJob/{{notification.jobposting.id}}">Accept</a>
                            </li>
                            <li>
                                <a href="/rejectJob/{{notification.jobposting.id}}">Reject</a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="blog-summary demo-2">
                        By company-:<a href='/profile/{{notification.sender.id}}'> {{notification.sender}}</a>
                    </div>
                    <div class="blog-tags">
                        <br class="main-br">
                        <ul>
                            <li>
                                Given Rating -: <a href="">{{notification.feedback.rating}}</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <hr class="main-page-hr">
            </div>
        </div>
        {% endfor %}
        {% if user.userprofile.isUser %}
        {% if notifications.count == 0 %}
        <div>No notifications</div>
        {% endif %}
        {% endif %}
    </div>
    
    {% comment %} {% with request.get_full_path as querystring %} {% endcomment %}
    {% comment %} <div style="float:right; padding-right: 140px;">
        <h5>Jo per page:&nbsp;</h5>
        {% if 'limit' in querystring %}
        <select id="num_of_rows" onchange="if (this.value) window.location.href=this.value;">
            {% if '6' in  querystring %}
            <option value="?limit=6" selected>6</option>
            <option value="?limit=12">12</option>
            <option value="?limit=18">18</option>
            {% elif '12' in querystring %}
            <option value="?limit=6">6</option>
            <option value="?limit=12" selected>12</option>
            <option value="?limit=18">18</option>
            {% else %}
            <option value="?limit=6">6</option>
            <option value="?limit=12">12</option>
            <option value="?limit=18" selected>18</option>
            {% endif %}
        </select>
        {% else %}
        <select id="num_of_rows" onchange="if (this.value) window.location.href=this.value;">
            <option value="?limit=6">6</option>
            <option value="?limit=12" selected>12</option>
            <option value="?limit=18">18</option>
        </select>
        {% endif %}
    </div>
    <br><br><br>
    {% endwith %}
    {% block paginationBlock %}
    {% with request.get_full_path as querystring %}
    {% if projects.has_other_pages %}
    <ul class="pagination">
        {% if projects.has_previous %}
        {% if 'Status' in querystring or 'Difficulty' in querystring or 'limit' in querystring%}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ projects.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ projects.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% else %}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ projects.previous_page_number }}">&laquo;</a></li>
        {% else %}
        {% if '?' in querystring %}
        <li><a href="{{ querystring }}&page={{ projects.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}?page={{ projects.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% for i in projects.paginator.page_range %}
        {% if projects.number == i %}
        <li class="selected">{{ i }}</li>
        {% else %}
        {% if 'Status' in querystring  or 'Difficulty' in querystring or 'limit' in querystring%}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ i }}">{{i}}</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ i }}">{{i}}</a></li>
        {% endif %}
        {% else %}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ i }}">{{i}}</a></li>
        {% else %}
        {% if '?' in querystring %}
        <li><a href="{{ querystring }}&page={{ i }}">{{i}}</a></li>
        {% else %}
        <li><a href="{{ querystring }}?page={{ i }}">{{i}}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if projects.has_next %}
        {% if 'Status' in querystring  or 'Difficulty' in querystring or 'limit' in querystring%}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ projects.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ projects.next_page_number }}">&raquo;</a></li>
        {% endif %}
        {% else %}
        {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:":-1 " }}{{ projects.next_page_number }}">&raquo;</a></li>
        {% else %}
        {% if '?' in querystring %}
        <li><a href="{{ querystring }}&page={{ projects.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}?page={{ projects.next_page_number }}">&raquo;</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock paginationBlock %} {% endcomment %}
    <br><br><br><br><br><br><br>
    {% endblock content %}
    {% block customScripts %}
    <script src="{% static 'home/index.js' %}"></script>
    {% endblock customScripts %}