{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Job Posting | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/register.css' %}">
{% endblock customCSS %}
{% block content %}
<br>
{{ jobPosting.id }}
<br>
{{ jobPosting.title }}
<br>
<a href = "/media/{{ jobPosting.job_description }}">Job Description</a>
<br>
{{ jobPosting.position }}
<br>
{{ jobPosting.no_of_seats }}
<br>
{{ jobPosting.stipend }}
<br>
{{ jobPosting.location }}
<br>
{{ jobPosting.domain_tags }}
<br>
{{ jobPosting.requirement_tags }}
<br>
{{ jobPosting.status }}
<br>
{{ jobPosting.experience_required }}
<br>
<a href="{% url 'edit-jobPosting' jobPosting.id%}">Edit</a>
{% endblock content %}