{% extends 'partials/base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}Login | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/login.css' %}">
{% endblock customCSS %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<section class="vh-100">
<!--    <div class="container py-5 h-100">-->
<!--        <div class="row d-flex align-items-center justify-content-center h-100">-->
<!--            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">-->
<!--                <form method="POST">-->
<!--                    {% csrf_token %}-->
<!--                    &lt;!&ndash; Username input &ndash;&gt;-->
<!--                    <div class="form-outline mb-4">-->
<!--                        <input type="text" name="username" id="form1Example13" class="form-control form-control-lg" />-->
<!--                        <label class="form-label" for="form1Example13">Username</label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Password input &ndash;&gt;-->
<!--                    <div class="form-outline mb-4">-->
<!--                        <input type="password" name="password" id="form1Example23" class="form-control form-control-lg" />-->
<!--                        <label class="form-label" for="form1Example23">Password</label>-->
<!--                    </div>-->
<!--                    {% comment %} <div class="d-flex justify-content-around align-items-center mb-4">-->
<!--                        &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />-->
<!--                            <label class="form-check-label" for="form1Example3"> Remember me </label>-->
<!--                        </div>-->
<!--                        <a href="#!">Forgot password?</a>-->
<!--                    </div> {% endcomment %}-->
<!--                    &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>-->
<!--                    <div class="divider d-flex align-items-center my-4">-->
<!--                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>-->
<!--                    </div>-->
<!--                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="{% url 'register' %}" role="button">-->
<!--                        <i class="fab fa-linkedin me-2"></i>Register-->
<!--                    </a>-->
<!--                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/accounts/linkedin_oauth2/login/?process=login&next=%2F" role="button">-->
<!--                        <i class="fab fa-facebook-f me-2"></i>Continue with Linkedin-->
<!--                    </a>-->
<!--                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="{% provider_login_url 'google' %}" role="button">-->
<!--                        <i class="fab fa-facebook-f me-2"></i>Continue with Google-->
<!--                    </a>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
            <h1>Company Login</h1>
                <input type="text" placeholder="Name" />

                <input type="password" placeholder="Password" />
                <button>Login</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Student login</h1>

                <input type="text" placeholder="Name" />
                <input type="password" placeholder="Password" />
                <button>Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Student Login</h1>
                    <p>To login as a student, please click the button below</p>
                    <button class="ghost" id="signIn">Login</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Company Login</h1>
            <p>To login as a Company, please click the button below
            </p>
                    <button class="ghost" id="signUp">LogIn</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
    </footer>
</section>

{% endblock content %}
{% block cdnJS %}{% endblock cdnJS %}
{% block customJS %}
<script src="{% static 'home/login.js' %}"></script>
{% endblock customJS %}