{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Profile | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/profile.css' %}">
{% endblock customCSS %}
{% block cdnCSS %}{% endblock cdnCSS %}
{% block navbar %}{% endblock navbar %}
{% block content %}
{% if user.userprofile.isUser %}
<div id="profile" class="horizontal-center">
  <div id="leftColumn">
    <div id="editButton" class="vertical-center">
      <div class="horizontal-center">
        <a style="color: white;" href="/profileEdit/{{profile.id}}"><i class="fas fa-pen"></i>Edit </a>
      </div>
    </div>
    <img class="profileImage" src="/media/{{ user.userprofile.image }}" alt="">
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Average Rating: {{averageRating}}
      </div>
      <div class="cardDetails vertical-center">
        {% if feedback %}
        Give New Rating(your rating - {{feedback.rating}})-:
        {% else %}
        Give New Rating-:
        {% endif %}
        <form class="rating">
          <label>
            {% if feeback.rating == 1 %}
            <input type="radio" name="stars" value="1" onclick = "window.location.href = '/rateUser/{{user.id}}/1';" selected/>
            {% else %}
            <input type="radio" name="stars" value="1" onclick = "window.location.href = '/rateUser/{{user.id}}/1';"/>
            {% endif %}
            <span class="icon">★</span>
          </label>
          <label>
            {% if feeback.rating == 2 %}
            <input type="radio" name="stars" value="2" onclick = "window.location.href = '/rateUser/{{user.id}}/2';" selected/>
            {% else %}
            <input type="radio" name="stars" value="2" onclick = "window.location.href = '/rateUser/{{user.id}}/2';"/>
            {% endif %}
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            {% if feeback.rating == 3 %}
            <input type="radio" name="stars" value="3" onclick = "window.location.href = '/rateUser/{{user.id}}/3';" selected/>
            {% else %}
            <input type="radio" name="stars" value="3" onclick = "window.location.href = '/rateUser/{{user.id}}/3';"/>
            {% endif %}
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            {% if feeback.rating == 4 %}
            <input type="radio" name="stars" value="4" onclick = "window.location.href = '/rateUser/{{user.id}}/4';" selected/>
            {% else %}
            <input type="radio" name="stars" value="4" onclick = "window.location.href = '/rateUser/{{user.id}}/4';"/>
            {% endif %}
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            {% if feeback.rating == 5 %}
            <input type="radio" name="stars" value="5" onclick = "window.location.href = '/rateUser/{{user.id}}/5';" selected/>
            {% else %}
            <input type="radio" name="stars" value="5" onclick = "window.location.href = '/rateUser/{{user.id}}/5';"/>
            {% endif %}
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
        </form>
      </div>
      <br>
      <div class="cardTitle">
        Profile
      </div>
      <div class="cardDetails vertical-center">
        <div>
          {{ user.first_name }} {{ user.last_name }}
          <br>
          {{ user.email }}
          <br>
          Age - {{user.userprofile.age}}
          Contact Number - {{user.userprofile.contact_num}}
          Willing to Relocate at - {{user.userprofile.willing_to_work_at}}
          Education - {{user.userprofile.education}}
          <br>
          <!--            Area of Interest - {{ profile_user.profile.area_of_interest }}-->
          Experience in years - {{user.userprofile.experience_yrs}}
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Links
      </div>
      <div class="cardDetails vertical-center">
        <div>
          <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn :
          {% if user.email == 'dishtioberai@gmail.com' %}
          <a href="https://www.linkedin.com/in/dishti-oberai/" target="_blank">Link</a>
          {% else %}
          <a href="https://www.linkedin.com/company/get-set-hired/about/" target="_blank">Link</a>
          {% endif %}
          <br>
          <i class="far fa-file" style="margin-right: 5px;"></i>Resume :
          <a href="/media/resumes/dishtiUberai.pdf" target="_blank">Link</a>
          <br>
        </div>
      </div>
    </div>
    {% if profile.skills.all.count %}
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Skills
      </div>
      <div class="cardDetails vertical-center">
        <div>
          {% for skill in profile.skills.all %}
          {{ skill }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div id="rightColumn">
    <div id="profileProjects">
      <div id="projectButtons">
        <div class="projectButton buttonSelected" id='projects0button' onclick="toggleVisibility('projects0')">
          <div class="projectButtonTitle">
            Coursera Certificates:
          </div>
        </div>
      </div>
      <div class="projectsNumbers">
        {% for certificate in profile.certificates.all %}
        {{forloop.counter}}
        {{certificate}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div id="profile" class="horizontal-center">
  <div id="leftColumn">
    <div id="editButton" class="vertical-center">
      <div class="horizontal-center">
        <a style="color: white;" href="/profileEdit/{{user.companyprofile.id}}"><i class="fas fa-pen">Edit</i> </a>
      </div>
    </div>
    <img class="profileImage" src="https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29tcGFueXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Profile
      </div>
      <div class="cardDetails vertical-center">
        <div>
          Company Name - {{user.companyprofile.name}}
          <br>
          Email - {{user.email}}
          <br>
          Contact Number - {{user.companyprofile.contact_num}}
          Number of Employees - {{user.companyprofile.number_of_employees}}
          <br>
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Links
      </div>
      <div class="cardDetails vertical-center">
        <div>
          <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn :
          <a href="https://www.linkedin.com/company/get-set-hired/about/" target="_blank">Link</a>
          <!--          {% if profile_user.profile.linked_in_link|length > 0%}-->
          <!--          <a href={{profile_user.profile.linked_in_link}} target="_blank">{{profile_user.profile.linked_in_link}}</a>-->
          <!--          {% else %}-->
          <!--          NA-->
          <!--          {% endif %}-->
          {% comment %} <i class="far fa-file" style="margin-right: 5px;"></i>Website : {% endcomment %}
          <!--          {% if profile_user.profile.cv|length > 0%}-->
          <!--          <a href="{{profile_user.profile.cv.url}}" target="_blank">-->
          <!--            Click Here-->
          <!--          </a>-->
          <!--          {% else %}-->
          <!--          NA-->
          <!--          {% endif %}-->
          <br>
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Skills
      </div>
      <div class="cardDetails vertical-center">
        <div>
          {% for jobposting in user.companyprofile.jobpostings.all %}
            {% for tag in jobposting.domain_tags.all %}
              {{tag}}
            {% endfor %}
            {% for tag in jobposting.requirement_tags.all %}
              {{tag}}
            {% endfor %}
          {% endfor %}
          <!--          {% for skill in profile_user.profile.techskills.all %}-->
          <!--          {{ skill }}-->
          <!--          {% endfor %}-->
        </div>
      </div>
    </div>
  </div>
  <div id="rightColumn">
    <div id="profileProjects">
      <div id="projectButtons">
        <div class="projectButton buttonSelected" id='projects0button' onclick="toggleVisibility('projects0')">
          <div class="projectButtonTitle">
            Details:
          </div>
        </div>
      </div>
      <div class="projectsNumbers">
            <iframe srcdoc="{{website}}" frameborder="0" width="100%;" height="1000px;">
            </iframe>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
{% block cdnJS %}{% endblock cdnJS %}
{% block customJS %}
<script src="{% static 'home/profile.js' %}"></script>
{% endblock customJS %}