{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Company Profile | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/profile.css' %}">
{% endblock customCSS %}
{% block cdnCSS %}{% endblock cdnCSS %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div id="profile" class="horizontal-center">
  <div id="leftColumn">
<!--    <div id="editButton" class="vertical-center">-->
<!--      <div class="horizontal-center">-->
<!--        <a style="color: white;" href="/profile/edit"><i class="fas fa-pen"></i> </a>-->
<!--      </div>-->
<!--    </div>-->
    <img class="profileImage" src="{{ profile_user.profile.image.url }}" alt="">
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Profile
      </div>
      <div class="cardDetails vertical-center">
        <div>
          Company Name
          <br>
          Email
          <br>
<!--          {% if profile_user.profile.profile_type == 'Student' %}-->
<!--            {{ profile_user.profile.year }} Year - {{ profile_user.profile.branch }}-->
<!--          {% else %}-->
<!--            School - {{ profile_user.profile.school }}-->
            Year of foundation -
            Contact Number -
            Number of Employees -
            <br>
<!--            Area of Interest - {{ profile_user.profile.area_of_interest }}-->
            Experience in years -
<!--          {% endif %}-->
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Links
      </div>
      <div class="cardDetails vertical-center">
        <div>
          <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn :
<!--          {% if profile_user.profile.linked_in_link|length > 0%}-->
<!--          <a href={{profile_user.profile.linked_in_link}} target="_blank">{{profile_user.profile.linked_in_link}}</a>-->
<!--          {% else %}-->
<!--          NA-->
<!--          {% endif %}-->
          <br>
          <i class="far fa-file" style="margin-right: 5px;"></i>Website :
<!--          {% if profile_user.profile.cv|length > 0%}-->
<!--          <a href="{{profile_user.profile.cv.url}}" target="_blank">-->
<!--            Click Here-->
<!--          </a>-->
<!--          {% else %}-->
<!--          NA-->
<!--          {% endif %}-->
          <br>
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Skills
      </div>
      <div class="cardDetails vertical-center">
        <div>
<!--          {% for skill in profile_user.profile.techskills.all %}-->
<!--          {{ skill }}-->
<!--          {% endfor %}-->
        </div>
      </div>
    </div>
  </div>
  <div id="rightColumn">
    <div id="profileProjects">
      <div id="projectButtons">
        <div class="projectButton buttonSelected" id='projects0button' onclick="toggleVisibility('projects0')">
          <div class="projectButtonTitle">
            Details:
          </div>
          <div class="projectsNumbers">
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
{% block cdnJS %}{% endblock cdnJS %}
{% block customJS %}
<script src="{% static 'home/profile.js' %}"></script>
{% endblock customJS %}