{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Edit Profile | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/register.css' %}">
{% endblock customCSS %}
{% block content %}
<div class="wrapper" style="margin-left: 25%; margin-top: 10px; margin-bottom: 50px;">
    <div class="title-text">
        {% if user.userprofile.isUser %}
        <div class="title user">User Profile </div>
        {% else %}
        <div class="title company">Company Profile</div>
        {% endif %}
    </div>
    <div class="form-container">
        <div class="form-inner">
            {% if user.userprofile.isUser %}
            <form method="POST" class="user" action='/profileEdit/{{user.id}}' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="First name" name='first_name' value='{{user.first_name}}' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Last name" name='last_name' value='{{user.last_name}}' required>
                </div>
                <div class="field">
                    <input type="email" placeholder="Email address" name='email' value='{{user.email}}' required>
                </div>
                <div class="field">
                    <input type="file" placeholder="Image" name='image' src='/{{user.userprofile.image}}' required>
                </div>
                <div class="field">
                    <input type="tel" placeholder="Contact Number" name='contact_num' value='{{user.userprofile.contact_num}}' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Education" name='education' value='{{user.userprofile.education}}' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Experience in yrs" name='experience_yrs' value='{{user.userprofile.experience_yrs}}' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Age" name='age' value='{{user.userprofile.age}}' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Willing To Work At" name='willing_to_work_at' value='{{user.userprofile.willing_to_work_at}}' required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Update">
                </div>
                <div class="user-link"><a href="{% url 'account_logout' %}" style="color:white;">Logout</a></div>
            </form>
            {% else %}
            <form method="POST" class="user" action='/profileEdit/{{user.id}}' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <input type="email" placeholder="Email address" name='email' value='{{user.email}}' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Company Name" name='name' value='{{user.companyprofile.name}}' required>
                </div>
                <div class="field">
                    <input type="tel" placeholder="Contact Number" name='contact_num' value='{{user.companyprofile.contact_num}}' required>
                </div>
                <div class="field">
                    <input type="Number" placeholder="Number of employees" name='umber_of_employees' value='{{user.companyprofile.number_of_employees}}' required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Update">
                </div>
                <div class="user-link"><a href="{% url 'account_logout' %}">Logout</a></div>
            </form>
            <br><br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}