{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Register | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/register.css' %}">
{% endblock customCSS %}
{% block cdnCSS %}{% endblock cdnCSS %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="wrapper">
    <div class="title-text">
        <div class="title user">User Registeration </div>
        <div class="title company">Company Registeration</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="user" checked>
            <input type="radio" name="slide" id="company">
            <label for="user" class="slide user">User</label>
            <label for="company" class="slide company">Company</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form method="POST" class="user" action='/userRegister/'>
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name='username' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="First name" name='first_name' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Last name" name='last_name' required>
                </div>
                <div class="field">
                    <input type="email" placeholder="Email address" name='email' required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name='password1' required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm password" name="password2" required>
                </div>
                <br><br>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Register">
                </div>
                <br>
                <div class="user-link">Already a member? <a href="{% url 'login' %}">Login now</a></div>
            </form>
            <form method="POST" class="company" action='/companyRegister/'>
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name='username' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Company Name" name="username" required>
                </div>
                <div class="field">
                    <input type="email" placeholder="Email Address" name="email" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name="password1" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm password" name="password2" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Register">
                </div>
                <br>
                <div class="company-link">Already a member? <a href="{% url 'login' %}">Login now</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block cdnJS %}{% endblock cdnJS %}
{% block customJS %}
<script src="{% static 'home/register.js' %}"></script>
{% endblock customJS %}